### Business Case Study - Staff Planning###

In [1]:
# Importing important Libraries 
import pandas as pd
import numpy as np
import math
from pyomo.environ import *
from __future__ import division
from pyomo.opt import SolverFactory

### Specify/Import data

In [2]:
# Reading the data from Excel workbook

StaffAV = pd.read_excel("Staffing+Data.xlsx", sheet_name= 'StaffAvailability')
Cost = pd.read_excel("Staffing+Data.xlsx", sheet_name= 'Cost')
transcost = pd.read_excel("Staffing+Data.xlsx", sheet_name= 'ServiceRate')
MgDemandDist = pd.read_excel("Staffing+Data.xlsx", sheet_name= 'DemandData')

In [3]:
MgDemandDist.head()

  State Month  Demand
0     A   Jan    5240
1     A   Feb    4878
2     A   Mar    5942
3     A   Apr    2297
4     A   May    1992

In [4]:
print(MgDemandDist.set_index(['State','Month'])['Demand'])

State  Month
A      Jan      5240
       Feb      4878
       Mar      5942
       Apr      2297
       May      1992
       Jun      2275
       Jul      5334
       Aug      3371
       Sep      3759
       Oct      3529
       Nov      4284
       Dec      5183
B      Jan      4927
       Feb      2628
       Mar      2974
       Apr      2338
       May      4020
       Jun      3147
       Jul      4271
       Aug      2620
       Sep      4517
       Oct      4155
       Nov      3137
       Dec      4227
C      Jan      1162
       Feb      1967
       Mar      1898
       Apr      2261
       May      2030
       Jun      1642
       Jul      2489
       Aug      2496
       Sep       922
       Oct      2421
       Nov       963
       Dec      1998
Name: Demand, dtype: int64

In [5]:
MgDemandDist.set_index(['State','Month'])['Demand'].to_dict()

{('A', 'Jan'): 5240,
 ('A', 'Feb'): 4878,
 ('A', 'Mar'): 5942,
 ('A', 'Apr'): 2297,
 ('A', 'May'): 1992,
 ('A', 'Jun'): 2275,
 ('A', 'Jul'): 5334,
 ('A', 'Aug'): 3371,
 ('A', 'Sep'): 3759,
 ('A', 'Oct'): 3529,
 ('A', 'Nov'): 4284,
 ('A', 'Dec'): 5183,
 ('B', 'Jan'): 4927,
 ('B', 'Feb'): 2628,
 ('B', 'Mar'): 2974,
 ('B', 'Apr'): 2338,
 ('B', 'May'): 4020,
 ('B', 'Jun'): 3147,
 ('B', 'Jul'): 4271,
 ('B', 'Aug'): 2620,
 ('B', 'Sep'): 4517,
 ('B', 'Oct'): 4155,
 ('B', 'Nov'): 3137,
 ('B', 'Dec'): 4227,
 ('C', 'Jan'): 1162,
 ('C', 'Feb'): 1967,
 ('C', 'Mar'): 1898,
 ('C', 'Apr'): 2261,
 ('C', 'May'): 2030,
 ('C', 'Jun'): 1642,
 ('C', 'Jul'): 2489,
 ('C', 'Aug'): 2496,
 ('C', 'Sep'): 922,
 ('C', 'Oct'): 2421,
 ('C', 'Nov'): 963,
 ('C', 'Dec'): 1998}

In [6]:
Cost.head()

  State Month  AnnualSalary  MonthlySalary  UnitOutSourceCost
0     A   Jan         60000         5000.0                180
1     A   Feb         60000         5000.0                180
2     A   Mar         60000         5000.0                180
3     A   Apr         60000         5000.0                180
4     A   May         60000         5000.0                180

In [7]:
transcost

   MgAppServedPerMonth
0                   40

In [8]:
StaffAV.head()

  State Month    LB    UB  StaffAvPer
0     A   Jan  0.70  0.90        0.81
1     A   Feb  0.65  0.85        0.76
2     A   Mar  0.70  0.80        0.75
3     A   Apr  0.75  0.85        0.80
4     A   May  0.70  0.85        0.78

### Data pre-processing

In [9]:
# Create the required Python data structures for indexes and parameters

# Demand Data
Demand = MgDemandDist.set_index(['State','Month'])['Demand'].to_dict()

# FTE Salary from the data
FTE_Salary = Cost.set_index(['State','Month'])['MonthlySalary'].to_dict()

# Unit Outsourcing Cost
UnitOutSourceCost = Cost.set_index(['State','Month'])['UnitOutSourceCost'].to_dict()

# Number of Appl when employee is working full time i.e. 100% utilization
FTE_AppServeRate = transcost.iloc[0,0]

# Staff Availability for serving the Insurance Applications
StaffAv_LB = StaffAV.set_index(['State','Month'])['LB'].to_dict() 
StaffAv_UB = StaffAV.set_index(['State','Month'])['UB'].to_dict()
StaffAvPer = StaffAV.set_index(['State','Month'])['StaffAvPer'].to_dict()

# Index
BankLoc = Cost['State'].unique()
Month = Cost['Month'].unique()

In [10]:
Demand

{('A', 'Jan'): 5240,
 ('A', 'Feb'): 4878,
 ('A', 'Mar'): 5942,
 ('A', 'Apr'): 2297,
 ('A', 'May'): 1992,
 ('A', 'Jun'): 2275,
 ('A', 'Jul'): 5334,
 ('A', 'Aug'): 3371,
 ('A', 'Sep'): 3759,
 ('A', 'Oct'): 3529,
 ('A', 'Nov'): 4284,
 ('A', 'Dec'): 5183,
 ('B', 'Jan'): 4927,
 ('B', 'Feb'): 2628,
 ('B', 'Mar'): 2974,
 ('B', 'Apr'): 2338,
 ('B', 'May'): 4020,
 ('B', 'Jun'): 3147,
 ('B', 'Jul'): 4271,
 ('B', 'Aug'): 2620,
 ('B', 'Sep'): 4517,
 ('B', 'Oct'): 4155,
 ('B', 'Nov'): 3137,
 ('B', 'Dec'): 4227,
 ('C', 'Jan'): 1162,
 ('C', 'Feb'): 1967,
 ('C', 'Mar'): 1898,
 ('C', 'Apr'): 2261,
 ('C', 'May'): 2030,
 ('C', 'Jun'): 1642,
 ('C', 'Jul'): 2489,
 ('C', 'Aug'): 2496,
 ('C', 'Sep'): 922,
 ('C', 'Oct'): 2421,
 ('C', 'Nov'): 963,
 ('C', 'Dec'): 1998}

In [11]:
FTE_Salary

{('A', 'Jan'): 5000.0,
 ('A', 'Feb'): 5000.0,
 ('A', 'Mar'): 5000.0,
 ('A', 'Apr'): 5000.0,
 ('A', 'May'): 5000.0,
 ('A', 'Jun'): 5000.0,
 ('A', 'Jul'): 5000.0,
 ('A', 'Aug'): 5000.0,
 ('A', 'Sep'): 5000.0,
 ('A', 'Oct'): 5000.0,
 ('A', 'Nov'): 5000.0,
 ('A', 'Dec'): 5000.0,
 ('B', 'Jan'): 4583.333333333333,
 ('B', 'Feb'): 4583.333333333333,
 ('B', 'Mar'): 4583.333333333333,
 ('B', 'Apr'): 4583.333333333333,
 ('B', 'May'): 4583.333333333333,
 ('B', 'Jun'): 4583.333333333333,
 ('B', 'Jul'): 4583.333333333333,
 ('B', 'Aug'): 4583.333333333333,
 ('B', 'Sep'): 4583.333333333333,
 ('B', 'Oct'): 4583.333333333333,
 ('B', 'Nov'): 4583.333333333333,
 ('B', 'Dec'): 4583.333333333333,
 ('C', 'Jan'): 4416.666666666667,
 ('C', 'Feb'): 4416.666666666667,
 ('C', 'Mar'): 4416.666666666667,
 ('C', 'Apr'): 4416.666666666667,
 ('C', 'May'): 4416.666666666667,
 ('C', 'Jun'): 4416.666666666667,
 ('C', 'Jul'): 4416.666666666667,
 ('C', 'Aug'): 4416.666666666667,
 ('C', 'Sep'): 4416.666666666667,
 ('C', 'Oct'): 4416.666666666667,
 ('C', 'Nov'): 4416.666666666667,
 ('C', 'Dec'): 4416.666666666667}

In [12]:
UnitOutSourceCost

{('A', 'Jan'): 180,
 ('A', 'Feb'): 180,
 ('A', 'Mar'): 180,
 ('A', 'Apr'): 180,
 ('A', 'May'): 180,
 ('A', 'Jun'): 180,
 ('A', 'Jul'): 180,
 ('A', 'Aug'): 180,
 ('A', 'Sep'): 180,
 ('A', 'Oct'): 180,
 ('A', 'Nov'): 180,
 ('A', 'Dec'): 180,
 ('B', 'Jan'): 150,
 ('B', 'Feb'): 150,
 ('B', 'Mar'): 150,
 ('B', 'Apr'): 150,
 ('B', 'May'): 150,
 ('B', 'Jun'): 150,
 ('B', 'Jul'): 150,
 ('B', 'Aug'): 150,
 ('B', 'Sep'): 150,
 ('B', 'Oct'): 150,
 ('B', 'Nov'): 150,
 ('B', 'Dec'): 150,
 ('C', 'Jan'): 160,
 ('C', 'Feb'): 160,
 ('C', 'Mar'): 160,
 ('C', 'Apr'): 160,
 ('C', 'May'): 160,
 ('C', 'Jun'): 160,
 ('C', 'Jul'): 160,
 ('C', 'Aug'): 160,
 ('C', 'Sep'): 160,
 ('C', 'Oct'): 160,
 ('C', 'Nov'): 160,
 ('C', 'Dec'): 160}

In [13]:
FTE_AppServeRate

40

In [14]:
StaffAV.head()

  State Month    LB    UB  StaffAvPer
0     A   Jan  0.70  0.90        0.81
1     A   Feb  0.65  0.85        0.76
2     A   Mar  0.70  0.80        0.75
3     A   Apr  0.75  0.85        0.80
4     A   May  0.70  0.85        0.78

In [15]:
StaffAv_LB

{('A', 'Jan'): 0.7,
 ('A', 'Feb'): 0.65,
 ('A', 'Mar'): 0.7,
 ('A', 'Apr'): 0.75,
 ('A', 'May'): 0.7,
 ('A', 'Jun'): 0.65,
 ('A', 'Jul'): 0.6,
 ('A', 'Aug'): 0.65,
 ('A', 'Sep'): 0.7,
 ('A', 'Oct'): 0.65,
 ('A', 'Nov'): 0.6,
 ('A', 'Dec'): 0.6,
 ('B', 'Jan'): 0.7,
 ('B', 'Feb'): 0.65,
 ('B', 'Mar'): 0.7,
 ('B', 'Apr'): 0.75,
 ('B', 'May'): 0.7,
 ('B', 'Jun'): 0.65,
 ('B', 'Jul'): 0.6,
 ('B', 'Aug'): 0.65,
 ('B', 'Sep'): 0.7,
 ('B', 'Oct'): 0.65,
 ('B', 'Nov'): 0.6,
 ('B', 'Dec'): 0.6,
 ('C', 'Jan'): 0.7,
 ('C', 'Feb'): 0.65,
 ('C', 'Mar'): 0.7,
 ('C', 'Apr'): 0.75,
 ('C', 'May'): 0.7,
 ('C', 'Jun'): 0.65,
 ('C', 'Jul'): 0.6,
 ('C', 'Aug'): 0.65,
 ('C', 'Sep'): 0.7,
 ('C', 'Oct'): 0.65,
 ('C', 'Nov'): 0.6,
 ('C', 'Dec'): 0.6}

In [16]:
StaffAv_UB

{('A', 'Jan'): 0.9,
 ('A', 'Feb'): 0.85,
 ('A', 'Mar'): 0.8,
 ('A', 'Apr'): 0.85,
 ('A', 'May'): 0.85,
 ('A', 'Jun'): 0.8,
 ('A', 'Jul'): 0.75,
 ('A', 'Aug'): 0.85,
 ('A', 'Sep'): 0.9,
 ('A', 'Oct'): 0.8,
 ('A', 'Nov'): 0.75,
 ('A', 'Dec'): 0.7,
 ('B', 'Jan'): 0.9,
 ('B', 'Feb'): 0.85,
 ('B', 'Mar'): 0.8,
 ('B', 'Apr'): 0.85,
 ('B', 'May'): 0.85,
 ('B', 'Jun'): 0.8,
 ('B', 'Jul'): 0.75,
 ('B', 'Aug'): 0.85,
 ('B', 'Sep'): 0.9,
 ('B', 'Oct'): 0.8,
 ('B', 'Nov'): 0.75,
 ('B', 'Dec'): 0.7,
 ('C', 'Jan'): 0.9,
 ('C', 'Feb'): 0.85,
 ('C', 'Mar'): 0.8,
 ('C', 'Apr'): 0.85,
 ('C', 'May'): 0.85,
 ('C', 'Jun'): 0.8,
 ('C', 'Jul'): 0.75,
 ('C', 'Aug'): 0.85,
 ('C', 'Sep'): 0.9,
 ('C', 'Oct'): 0.8,
 ('C', 'Nov'): 0.75,
 ('C', 'Dec'): 0.7}

In [17]:
StaffAvPer

{('A', 'Jan'): 0.81,
 ('A', 'Feb'): 0.76,
 ('A', 'Mar'): 0.75,
 ('A', 'Apr'): 0.8,
 ('A', 'May'): 0.78,
 ('A', 'Jun'): 0.73,
 ('A', 'Jul'): 0.68,
 ('A', 'Aug'): 0.76,
 ('A', 'Sep'): 0.81,
 ('A', 'Oct'): 0.73,
 ('A', 'Nov'): 0.68,
 ('A', 'Dec'): 0.65,
 ('B', 'Jan'): 0.81,
 ('B', 'Feb'): 0.76,
 ('B', 'Mar'): 0.75,
 ('B', 'Apr'): 0.8,
 ('B', 'May'): 0.78,
 ('B', 'Jun'): 0.73,
 ('B', 'Jul'): 0.68,
 ('B', 'Aug'): 0.76,
 ('B', 'Sep'): 0.81,
 ('B', 'Oct'): 0.73,
 ('B', 'Nov'): 0.68,
 ('B', 'Dec'): 0.65,
 ('C', 'Jan'): 0.81,
 ('C', 'Feb'): 0.76,
 ('C', 'Mar'): 0.75,
 ('C', 'Apr'): 0.8,
 ('C', 'May'): 0.78,
 ('C', 'Jun'): 0.73,
 ('C', 'Jul'): 0.68,
 ('C', 'Aug'): 0.76,
 ('C', 'Sep'): 0.81,
 ('C', 'Oct'): 0.73,
 ('C', 'Nov'): 0.68,
 ('C', 'Dec'): 0.65}

In [18]:
BankLoc

array(['A', 'B', 'C'], dtype=object)

In [19]:
Month

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], dtype=object)

### Question 1
The company wants to know the optimised staffing recommendations for the business case described. Write the mathematical model for the deterministic optimisation problem. Define and explain your decision variables, objective function and the constraint.

In [20]:
BankLoc.tolist()

['A', 'B', 'C']

In [21]:
# Creating an object of Concrete Model
model = ConcreteModel()

# defining  the Sets
# i Location of States (A, B, C)
# j Months (Jan, Feb, Mar, ......, Dec)

model.i = Set(initialize=BankLoc.tolist(), doc='States')
model.j = Set(initialize=Month.tolist(), doc='Months')

# Defining Parameters for Demand, FTE Salaries, OutsourcingCost, Average Staff Availability
model.d = Param(model.i, model.j, initialize=Demand, doc='Demand')
model.s = Param(model.i, model.j, initialize=FTE_Salary, doc='FTE_Salary')
model.oc = Param(model.i, model.j, initialize=UnitOutSourceCost, doc='OutSourceCost')
model.sa = Param(model.i, model.j, initialize=StaffAvPer, doc='StaffAvPercent')

# Scalar Application Service Rate when working 100%
model.r =Param(initialize=FTE_AppServeRate, doc='FTE App Serve Rate')

In [22]:
# Parameter for the number of applications that can be processed for the given staff availability

def c_FTEAPP(model, i, j):
    return model.r * model.sa[i,j] 

model.FTEAPPNO = Param(model.i, model.j, initialize=c_FTEAPP, doc='NO OF FTE APP')

In [23]:
# Parameters for the restriction on Outsourced Applications for State A

def Reg_A(model, i, j):
    return 0.30 * model.d[i,j] # 30% of Demand

model.Reg_A = Param(model.i, model.j, initialize=Reg_A, doc='RegRest_A')

In [24]:
# Parameters for the restriction on Outsourced Applications for State B

def Reg_B(model, i, j):
    return 0.40 * model.d[i,j] # 40% of Demand

model.Reg_B = Param(model.i, model.j, initialize=Reg_B, doc='RegRest_B')

In [25]:
model.i

In [26]:
# Define Decision Variables

model.x = Var(model.i, model.j, domain=NonNegativeReals, doc='No of FTE')
model.y = Var(model.i, model.j, domain=NonNegativeIntegers, doc='No of Outsourced App')

In [27]:
# Demand Constraint

model.demand_constraint = ConstraintList()
for i in model.i:
    for j in model.j:
        model.demand_constraint.add(expr= model.x[i,j] * model.FTEAPPNO[i,j] + model.y[i,j] == model.d[i,j])

In [28]:
# Regulatory Constraint

model.regulatoryCons = ConstraintList()
for i in model.i:
    for j in model.j:
        if i == 'A':
            model.regulatoryCons.add(expr= model.y[i,j] <= model.Reg_A['A',j])
        elif i=='B':
            model.regulatoryCons.add(expr= model.y[i,j] <= model.Reg_B['B',j])

In [29]:
# Define Objective Function

def objective_rule(model):
    return sum(model.s[i,j] * model.x[i,j] for i in model.i for j in model.j) +\
           sum(model.oc[i,j] * model.y[i,j] for i in model.i for j in model.j)

model.objective = Objective(rule= objective_rule, sense= minimize, doc='Define objective function')

In [30]:
# SOLVE

result_cost = SolverFactory('glpk').solve(model)                        
result_cost.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 17962336.4487699
  Upper bound: 17962336.4487699
  Number of objectives: 1
  Number of constraints: 61
  Number of variables: 73
  Number of nonzeros: 97
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.13691949844360352
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [31]:
model.pprint()

13 Set Declarations
    FTEAPPNO_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    Reg_A_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    Reg_B_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    d_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    demand_constraint_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   36 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36}
    i : States
        Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {'A', 'B', 'C'}
    j : Months
        Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   12 : {'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'}
    oc_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    regulatoryCons_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   24 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}
    s_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    sa_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    y_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}

8 Param Declarations
    FTEAPPNO : NO OF FTE APP
        Size=36, Index=FTEAPPNO_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :               32.0
        ('A', 'Aug') :               30.4
        ('A', 'Dec') :               26.0
        ('A', 'Feb') :               30.4
        ('A', 'Jan') : 32.400000000000006
        ('A', 'Jul') : 27.200000000000003
        ('A', 'Jun') :               29.2
        ('A', 'Mar') :               30.0
        ('A', 'May') : 31.200000000000003
        ('A', 'Nov') : 27.200000000000003
        ('A', 'Oct') :               29.2
        ('A', 'Sep') : 32.400000000000006
        ('B', 'Apr') :               32.0
        ('B', 'Aug') :               30.4
        ('B', 'Dec') :               26.0
        ('B', 'Feb') :               30.4
        ('B', 'Jan') : 32.400000000000006
        ('B', 'Jul') : 27.200000000000003
        ('B', 'Jun') :               29.2
        ('B', 'Mar') :               30.0
        ('B', 'May') : 31.200000000000003
        ('B', 'Nov') : 27.200000000000003
        ('B', 'Oct') :               29.2
        ('B', 'Sep') : 32.400000000000006
        ('C', 'Apr') :               32.0
        ('C', 'Aug') :               30.4
        ('C', 'Dec') :               26.0
        ('C', 'Feb') :               30.4
        ('C', 'Jan') : 32.400000000000006
        ('C', 'Jul') : 27.200000000000003
        ('C', 'Jun') :               29.2
        ('C', 'Mar') :               30.0
        ('C', 'May') : 31.200000000000003
        ('C', 'Nov') : 27.200000000000003
        ('C', 'Oct') :               29.2
        ('C', 'Sep') : 32.400000000000006
    Reg_A : RegRest_A
        Size=36, Index=Reg_A_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :              689.1
        ('A', 'Aug') :             1011.3
        ('A', 'Dec') : 1554.8999999999999
        ('A', 'Feb') : 1463.3999999999999
        ('A', 'Jan') :             1572.0
        ('A', 'Jul') :             1600.2
        ('A', 'Jun') :              682.5
        ('A', 'Mar') :             1782.6
        ('A', 'May') :              597.6
        ('A', 'Nov') :             1285.2
        ('A', 'Oct') :             1058.7
        ('A', 'Sep') :             1127.7
        ('B', 'Apr') :              701.4
        ('B', 'Aug') :              786.0
        ('B', 'Dec') :             1268.1
        ('B', 'Feb') :              788.4
        ('B', 'Jan') :             1478.1
        ('B', 'Jul') :             1281.3
        ('B', 'Jun') :  944.0999999999999
        ('B', 'Mar') :  892.1999999999999
        ('B', 'May') :             1206.0
        ('B', 'Nov') :  941.0999999999999
        ('B', 'Oct') :             1246.5
        ('B', 'Sep') :             1355.1
        ('C', 'Apr') :              678.3
        ('C', 'Aug') :              748.8
        ('C', 'Dec') :              599.4
        ('C', 'Feb') :              590.1
        ('C', 'Jan') : 348.59999999999997
        ('C', 'Jul') :  746.6999999999999
        ('C', 'Jun') : 492.59999999999997
        ('C', 'Mar') :              569.4
        ('C', 'May') :              609.0
        ('C', 'Nov') :              288.9
        ('C', 'Oct') :              726.3
        ('C', 'Sep') : 276.59999999999997
    Reg_B : RegRest_B
        Size=36, Index=Reg_B_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :  918.8000000000001
        ('A', 'Aug') :             1348.4
        ('A', 'Dec') : 2073.2000000000003
        ('A', 'Feb') :             1951.2
        ('A', 'Jan') :             2096.0
        ('A', 'Jul') :             2133.6
        ('A', 'Jun') :              910.0
        ('A', 'Mar') :             2376.8
        ('A', 'May') :  796.8000000000001
        ('A', 'Nov') : 1713.6000000000001
        ('A', 'Oct') : 1411.6000000000001
        ('A', 'Sep') : 1503.6000000000001
        ('B', 'Apr') :              935.2
        ('B', 'Aug') :             1048.0
        ('B', 'Dec') : 1690.8000000000002
        ('B', 'Feb') :             1051.2
        ('B', 'Jan') : 1970.8000000000002
        ('B', 'Jul') :             1708.4
        ('B', 'Jun') : 1258.8000000000002
        ('B', 'Mar') : 1189.6000000000001
        ('B', 'May') :             1608.0
        ('B', 'Nov') : 1254.8000000000002
        ('B', 'Oct') :             1662.0
        ('B', 'Sep') : 1806.8000000000002
        ('C', 'Apr') :  904.4000000000001
        ('C', 'Aug') :  998.4000000000001
        ('C', 'Dec') :              799.2
        ('C', 'Feb') :  786.8000000000001
        ('C', 'Jan') :              464.8
        ('C', 'Jul') :              995.6
        ('C', 'Jun') :  656.8000000000001
        ('C', 'Mar') :              759.2
        ('C', 'May') :              812.0
        ('C', 'Nov') : 385.20000000000005
        ('C', 'Oct') :  968.4000000000001
        ('C', 'Sep') :              368.8
    d : Demand
        Size=36, Index=d_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :  2297
        ('A', 'Aug') :  3371
        ('A', 'Dec') :  5183
        ('A', 'Feb') :  4878
        ('A', 'Jan') :  5240
        ('A', 'Jul') :  5334
        ('A', 'Jun') :  2275
        ('A', 'Mar') :  5942
        ('A', 'May') :  1992
        ('A', 'Nov') :  4284
        ('A', 'Oct') :  3529
        ('A', 'Sep') :  3759
        ('B', 'Apr') :  2338
        ('B', 'Aug') :  2620
        ('B', 'Dec') :  4227
        ('B', 'Feb') :  2628
        ('B', 'Jan') :  4927
        ('B', 'Jul') :  4271
        ('B', 'Jun') :  3147
        ('B', 'Mar') :  2974
        ('B', 'May') :  4020
        ('B', 'Nov') :  3137
        ('B', 'Oct') :  4155
        ('B', 'Sep') :  4517
        ('C', 'Apr') :  2261
        ('C', 'Aug') :  2496
        ('C', 'Dec') :  1998
        ('C', 'Feb') :  1967
        ('C', 'Jan') :  1162
        ('C', 'Jul') :  2489
        ('C', 'Jun') :  1642
        ('C', 'Mar') :  1898
        ('C', 'May') :  2030
        ('C', 'Nov') :   963
        ('C', 'Oct') :  2421
        ('C', 'Sep') :   922
    oc : OutSourceCost
        Size=36, Index=oc_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :   180
        ('A', 'Aug') :   180
        ('A', 'Dec') :   180
        ('A', 'Feb') :   180
        ('A', 'Jan') :   180
        ('A', 'Jul') :   180
        ('A', 'Jun') :   180
        ('A', 'Mar') :   180
        ('A', 'May') :   180
        ('A', 'Nov') :   180
        ('A', 'Oct') :   180
        ('A', 'Sep') :   180
        ('B', 'Apr') :   150
        ('B', 'Aug') :   150
        ('B', 'Dec') :   150
        ('B', 'Feb') :   150
        ('B', 'Jan') :   150
        ('B', 'Jul') :   150
        ('B', 'Jun') :   150
        ('B', 'Mar') :   150
        ('B', 'May') :   150
        ('B', 'Nov') :   150
        ('B', 'Oct') :   150
        ('B', 'Sep') :   150
        ('C', 'Apr') :   160
        ('C', 'Aug') :   160
        ('C', 'Dec') :   160
        ('C', 'Feb') :   160
        ('C', 'Jan') :   160
        ('C', 'Jul') :   160
        ('C', 'Jun') :   160
        ('C', 'Mar') :   160
        ('C', 'May') :   160
        ('C', 'Nov') :   160
        ('C', 'Oct') :   160
        ('C', 'Sep') :   160
    r : FTE App Serve Rate
        Size=1, Index=None, Domain=Any, Default=None, Mutable=False
        Key  : Value
        None :    40
    s : FTE_Salary
        Size=36, Index=s_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :            5000.0
        ('A', 'Aug') :            5000.0
        ('A', 'Dec') :            5000.0
        ('A', 'Feb') :            5000.0
        ('A', 'Jan') :            5000.0
        ('A', 'Jul') :            5000.0
        ('A', 'Jun') :            5000.0
        ('A', 'Mar') :            5000.0
        ('A', 'May') :            5000.0
        ('A', 'Nov') :            5000.0
        ('A', 'Oct') :            5000.0
        ('A', 'Sep') :            5000.0
        ('B', 'Apr') : 4583.333333333333
        ('B', 'Aug') : 4583.333333333333
        ('B', 'Dec') : 4583.333333333333
        ('B', 'Feb') : 4583.333333333333
        ('B', 'Jan') : 4583.333333333333
        ('B', 'Jul') : 4583.333333333333
        ('B', 'Jun') : 4583.333333333333
        ('B', 'Mar') : 4583.333333333333
        ('B', 'May') : 4583.333333333333
        ('B', 'Nov') : 4583.333333333333
        ('B', 'Oct') : 4583.333333333333
        ('B', 'Sep') : 4583.333333333333
        ('C', 'Apr') : 4416.666666666667
        ('C', 'Aug') : 4416.666666666667
        ('C', 'Dec') : 4416.666666666667
        ('C', 'Feb') : 4416.666666666667
        ('C', 'Jan') : 4416.666666666667
        ('C', 'Jul') : 4416.666666666667
        ('C', 'Jun') : 4416.666666666667
        ('C', 'Mar') : 4416.666666666667
        ('C', 'May') : 4416.666666666667
        ('C', 'Nov') : 4416.666666666667
        ('C', 'Oct') : 4416.666666666667
        ('C', 'Sep') : 4416.666666666667
    sa : StaffAvPercent
        Size=36, Index=sa_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :   0.8
        ('A', 'Aug') :  0.76
        ('A', 'Dec') :  0.65
        ('A', 'Feb') :  0.76
        ('A', 'Jan') :  0.81
        ('A', 'Jul') :  0.68
        ('A', 'Jun') :  0.73
        ('A', 'Mar') :  0.75
        ('A', 'May') :  0.78
        ('A', 'Nov') :  0.68
        ('A', 'Oct') :  0.73
        ('A', 'Sep') :  0.81
        ('B', 'Apr') :   0.8
        ('B', 'Aug') :  0.76
        ('B', 'Dec') :  0.65
        ('B', 'Feb') :  0.76
        ('B', 'Jan') :  0.81
        ('B', 'Jul') :  0.68
        ('B', 'Jun') :  0.73
        ('B', 'Mar') :  0.75
        ('B', 'May') :  0.78
        ('B', 'Nov') :  0.68
        ('B', 'Oct') :  0.73
        ('B', 'Sep') :  0.81
        ('C', 'Apr') :   0.8
        ('C', 'Aug') :  0.76
        ('C', 'Dec') :  0.65
        ('C', 'Feb') :  0.76
        ('C', 'Jan') :  0.81
        ('C', 'Jul') :  0.68
        ('C', 'Jun') :  0.73
        ('C', 'Mar') :  0.75
        ('C', 'May') :  0.78
        ('C', 'Nov') :  0.68
        ('C', 'Oct') :  0.73
        ('C', 'Sep') :  0.81

2 Var Declarations
    x : No of FTE
        Size=36, Index=x_index
        Key          : Lower : Value            : Upper : Fixed : Stale : Domain
        ('A', 'Apr') :     0 :         71.78125 :  None : False : False : NonNegativeReals
        ('A', 'Aug') :     0 : 110.888157894737 :  None : False : False : NonNegativeReals
        ('A', 'Dec') :     0 : 139.576923076923 :  None : False : False : NonNegativeReals
        ('A', 'Feb') :     0 : 160.460526315789 :  None : False : False : NonNegativeReals
        ('A', 'Jan') :     0 : 161.728395061728 :  None : False : False : NonNegativeReals
        ('A', 'Jul') :     0 : 137.279411764706 :  None : False : False : NonNegativeReals
        ('A', 'Jun') :     0 : 77.9109589041096 :  None : False : False : NonNegativeReals
        ('A', 'Mar') :     0 : 198.066666666667 :  None : False : False : NonNegativeReals
        ('A', 'May') :     0 : 63.8461538461538 :  None : False : False : NonNegativeReals
        ('A', 'Nov') :     0 : 110.257352941176 :  None : False : False : NonNegativeReals
        ('A', 'Oct') :     0 : 120.856164383562 :  None : False : False : NonNegativeReals
        ('A', 'Sep') :     0 : 116.018518518519 :  None : False : False : NonNegativeReals
        ('B', 'Apr') :     0 :          73.0625 :  None : False : False : NonNegativeReals
        ('B', 'Aug') :     0 : 51.7105263157895 :  None : False : False : NonNegativeReals
        ('B', 'Dec') :     0 : 97.5769230769231 :  None : False : False : NonNegativeReals
        ('B', 'Feb') :     0 :           51.875 :  None : False : False : NonNegativeReals
        ('B', 'Jan') :     0 : 152.067901234568 :  None : False : False : NonNegativeReals
        ('B', 'Jul') :     0 : 94.2279411764706 :  None : False : False : NonNegativeReals
        ('B', 'Jun') :     0 : 64.6917808219178 :  None : False : False : NonNegativeReals
        ('B', 'Mar') :     0 :             59.5 :  None : False : False : NonNegativeReals
        ('B', 'May') :     0 : 128.846153846154 :  None : False : False : NonNegativeReals
        ('B', 'Nov') :     0 : 69.2279411764706 :  None : False : False : NonNegativeReals
        ('B', 'Oct') :     0 : 85.3767123287671 :  None : False : False : NonNegativeReals
        ('B', 'Sep') :     0 : 139.413580246914 :  None : False : False : NonNegativeReals
        ('C', 'Apr') :     0 :         70.65625 :  None : False : False : NonNegativeReals
        ('C', 'Aug') :     0 : 82.1052631578947 :  None : False : False : NonNegativeReals
        ('C', 'Dec') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Feb') :     0 : 64.7039473684211 :  None : False : False : NonNegativeReals
        ('C', 'Jan') :     0 : 35.8641975308642 :  None : False : False : NonNegativeReals
        ('C', 'Jul') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Jun') :     0 : 56.2328767123288 :  None : False : False : NonNegativeReals
        ('C', 'Mar') :     0 : 63.2666666666667 :  None : False : False : NonNegativeReals

In [32]:
# Print the value of the objective function
optimized_cost = round(model.objective()/1000000,2)
optimized_cost

17.96

-  Looks like the company has to spend around 18m $ in total for the application approval process.

### Question 2

Code the problem is Python and use any optimization package to solve it. Add comments to your code to explain each step.

## Expected output:

Create a data frame containing the number of outsourced applications  and the number of FTEs for each state-month combination. You can choose to have extra columns like staff availability, demand etc. in your dataframe apart from the ones mentioned earlier.

In [33]:
#Creating an empty list
Output_actual = []


for i in model.i:
    for j in model.j:
        
        #cost for the application approval process
        no_of_fte=model.x[i,j].value
        demand = model.d[i, j]
        no_of_outsource_app = model.y[i,j].value
        no_of_FTE_processed_app = model.x[i,j].value*40*model.sa[i,j]
        cost = model.x[i,j].value*FTE_Salary[i,j] + model.y[i,j].value*UnitOutSourceCost[i,j]
        percent_outsourced_app = round((no_of_outsource_app/demand)*100,2)
        avg_cost_per_app = round(cost/demand,2)
        
        Output_actual.append([i, j, no_of_fte,demand, no_of_outsource_app,no_of_FTE_processed_app, cost, percent_outsourced_app,avg_cost_per_app])
        
print(Output_actual)

[['A', 'Jan', 161.728395061728, 5240, 0.0, 5239.999999999987, 808641.97530864, 0.0, 154.32], ['A', 'Feb', 160.460526315789, 4878, 0.0, 4877.999999999985, 802302.631578945, 0.0, 164.47], ['A', 'Mar', 198.066666666667, 5942, 0.0, 5942.000000000011, 990333.333333335, 0.0, 166.67], ['A', 'Apr', 71.78125, 2297, 0.0, 2297.0, 358906.25, 0.0, 156.25], ['A', 'May', 63.8461538461538, 1992, 0.0, 1991.9999999999986, 319230.76923076896, 0.0, 160.26], ['A', 'Jun', 77.9109589041096, 2275, 0.0, 2275.0000000000005, 389554.794520548, 0.0, 171.23], ['A', 'Jul', 137.279411764706, 5334, 1600.0, 3734.000000000003, 974397.05882353, 30.0, 182.68], ['A', 'Aug', 110.888157894737, 3371, 0.0, 3371.0000000000055, 554440.7894736851, 0.0, 164.47], ['A', 'Sep', 116.018518518519, 3759, 0.0, 3759.000000000016, 580092.592592595, 0.0, 154.32], ['A', 'Oct', 120.856164383562, 3529, 0.0, 3529.0000000000105, 604280.82191781, 0.0, 171.23], ['A', 'Nov', 110.257352941176, 4284, 1285.0, 2998.9999999999873, 782586.76470588, 30.0, 182.68], ['A', 'Dec', 139.576923076923, 5183, 1554.0, 3628.999999999998, 977604.615384615, 29.98, 188.62], ['B', 'Jan', 152.067901234568, 4927, 0.0, 4927.000000000004, 696977.8806584367, 0.0, 141.46], ['B', 'Feb', 51.875, 2628, 1051.0, 1577.0, 395410.4166666666, 39.99, 150.46], ['B', 'Mar', 59.5, 2974, 1189.0, 1785.0, 451058.3333333333, 39.98, 151.67], ['B', 'Apr', 73.0625, 2338, 0.0, 2338.0, 334869.7916666666, 0.0, 143.23], ['B', 'May', 128.846153846154, 4020, 0.0, 4020.0000000000055, 590544.8717948725, 0.0, 146.9], ['B', 'Jun', 64.6917808219178, 3147, 1258.0, 1888.9999999999998, 485203.9954337899, 39.97, 154.18], ['B', 'Jul', 94.2279411764706, 4271, 1708.0, 2563.0000000000005, 688078.0637254901, 39.99, 161.1], ['B', 'Aug', 51.7105263157895, 2620, 1048.0, 1572.000000000001, 394206.57894736854, 40.0, 150.46], ['B', 'Sep', 139.413580246914, 4517, 0.0, 4517.000000000014, 638978.9094650224, 0.0, 141.46], ['B', 'Oct', 85.3767123287671, 4155, 1662.0, 2492.999999999999, 640609.9315068491, 40.0, 154.18], ['B', 'Nov', 69.2279411764706, 3137, 1254.0, 1883.0000000000005, 505394.73039215687, 39.97, 161.11], ['B', 'Dec', 97.5769230769231, 4227, 1690.0, 2537.0000000000005, 700727.5641025642, 39.98, 165.77], ['C', 'Jan', 35.8641975308642, 1162, 0.0, 1162.0000000000002, 158400.2057613169, 0.0, 136.32], ['C', 'Feb', 64.7039473684211, 1967, 0.0, 1967.0000000000014, 285775.76754385984, 0.0, 145.29], ['C', 'Mar', 63.2666666666667, 1898, 0.0, 1898.000000000001, 279427.7777777779, 0.0, 147.22], ['C', 'Apr', 70.65625, 2261, 0.0, 2261.0, 312065.1041666667, 0.0, 138.02], ['C', 'May', 65.0641025641026, 2030, 0.0, 2030.0000000000011, 287366.4529914532, 0.0, 141.56], ['C', 'Jun', 56.2328767123288, 1642, 0.0, 1642.000000000001, 248361.8721461189, 0.0, 151.26], ['C', 'Jul', 0.0, 2489, 2489.0, 0.0, 398240.0, 100.0, 160.0], ['C', 'Aug', 82.1052631578947, 2496, 0.0, 2495.9999999999986, 362631.57894736825, 0.0, 145.29], ['C', 'Sep', 28.4567901234568, 922, 0.0, 922.0000000000005, 125684.15637860086, 0.0, 136.32], ['C', 'Oct', 82.9109589041096, 2421, 0.0, 2421.0000000000005, 366190.06849315076, 0.0, 151.26], ['C', 'Nov', 0.0, 963, 963.0, 0.0, 154080.0, 100.0, 160.0], ['C', 'Dec', 0.0, 1998, 1998.0, 0.0, 319680.0, 100.0, 160.0]]

In [35]:
Output_actual = pd.DataFrame(Output_actual, columns = ['State', 'Month', 'No of FTE',"Demand",'No of outsource app',
                                                       "No of FTE processed App" , 'Estimated Cost', 'percent outsourced app', 
                                                       'average cost per application'])

Output_actual[['Estimated Cost in mn $']] = Output_actual[['Estimated Cost']]/1000000
Output_actual['Demand'] = Output_actual['Demand'].astype(int)
Output_actual['No of outsource app'] = Output_actual['No of outsource app'].astype(int)
Output_actual['No of FTE processed App'] = Output_actual['No of FTE processed App'].astype(int)
Output_actual = Output_actual.round({"No of FTE":1, "No of outsource app":0, "Estimated Cost in mn $":1})

In [36]:
Output_actual.head()

,State,Month,No of FTE,Demand,No of outsource app,No of FTE processed App,Estimated Cost,percent outsourced app,average cost per application,Estimated Cost in mn $
0,A,Jan,161.7,5240,0,5239,808641.975309,0.0,154.32,0.8
1,A,Feb,160.5,4878,0,4877,802302.631579,0.0,164.47,0.8
2,A,Mar,198.1,5942,0,5942,990333.333333,0.0,166.67,1.0
3,A,Apr,71.8,2297,0,2297,358906.250000,0.0,156.25,0.4
4,A,May,63.8,1992,0,1991,319230.769231,0.0,160.26,0.3

In [37]:
# Writing the results in to an Excel sheet
from openpyxl import load_workbook
book = load_workbook("Staffing+Data.xlsx")

# create excel writer object
writer = pd.ExcelWriter("Staffing+Data.xlsx", engine = 'openpyxl')


#Assigning the workbook to the writer object
writer.book = book


# write dataframe to excel sheet named 'output_actual'
Output_actual.to_excel(writer, sheet_name='Output_actual')


# save the excel file
writer.save()
print('DataFrame is written successfully to Excel Sheet.')

DataFrame is written successfully to Excel Sheet.

### Question 3

#### Worst-case and best-case analysis based on the staffs' availability.

Assuming that the distribution is the same across all the states,

#### 3.1 Worst case analysis 

- 3.1.1 What is the optimal number of staff members for the worst case? 

- 3.1.2 What is the percentage of outsourcing for the worst case? 

- 3.1.3 What is the average cost per application for the worst case?


#### 3.2 Best case analysis 

- 3.2.1 What is the optimal number of staff members for the best case? 

- 3.2.2 What is the percentage of outsourcing for the best case? 

- 3.2.3 What is the average cost per application for the best case?

### Expected output:

For each of the subtasks (3.1 and 3.2) create a data frame containing the number of outsourced applications and the number of FTEs for each state-month combination. You can choose to have extra columns like staff availability, demand etc. in your dataframe apart from the ones mentioned earlier. Also, print the overall average percentage of outsourced applications and the overall average cost per application.

### 3.1 Worst Case Analysis

#### 3.1.1 Optimal number of staff members

In [38]:
# Creating a model instance
WC_model = ConcreteModel()

In [39]:
# Define Pyomo sets and Parameters
WC_model.i = Set(initialize= BankLoc.tolist(),doc='States')
WC_model.j = Set(initialize= Month.tolist(),doc='Months')
WC_model.demand = Param(WC_model.i,WC_model.j,initialize = Demand,doc='Demand')
WC_model.sa = Param(WC_model.i,WC_model.j,initialize = StaffAv_LB,doc = 'StaffLowerBoundPercent')

In [40]:
# Decision variables
WC_model.x = Var(WC_model.i,WC_model.j,doc='No of FTE',domain = NonNegativeReals)
WC_model.y = Var(WC_model.i,WC_model.j,doc='No of Outsource App',domain = NonNegativeIntegers)

In [41]:
# Demand Constraint

def total_demand(m, i, j):
    return (m.x[i, j] * 40 * m.sa[i, j] + m.y[i, j] == m.demand[i, j])


WC_model.total_demand = Constraint(WC_model.i, WC_model.j, rule=total_demand)

# Outsource Demand Constraints
WC_model.outsource_demand = ConstraintList()
for j in WC_model.j:
    for i in WC_model.i:
        if i == 'A':
            WC_model.outsource_demand.add(expr = WC_model.y[i,j] <= 0.3* WC_model.demand[i,j])
        elif i == 'B':
            WC_model.outsource_demand.add(expr = WC_model.y[i,j] <= 0.4* WC_model.demand[i,j])

In [42]:
# Objective function
WC_model.value = Objective(expr = sum(sum(WC_model.x[i,j]*FTE_Salary[i,j]+ WC_model.y[i,j]
                                        *UnitOutSourceCost[i,j] for i in WC_model.i) 
                                    for j in WC_model.j),sense= minimize)

In [43]:
# Invoking the solver
result = SolverFactory('glpk').solve(WC_model)
result.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 19599482.5167888
  Upper bound: 19599482.5167888
  Number of objectives: 1
  Number of constraints: 61
  Number of variables: 73
  Number of nonzeros: 97
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.08495068550109863
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [44]:
# Print the value of the objective function
optimized_cost_worst = round(WC_model.value()/1000000,2)

### The company need to spend around $19.6m in total for the application approval process

In [45]:
WC_model.pprint()

8 Set Declarations
    demand_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    i : States
        Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {'A', 'B', 'C'}
    j : Months
        Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   12 : {'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'}
    outsource_demand_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   24 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}
    sa_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    total_demand_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    y_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}

2 Param Declarations
    demand : Demand
        Size=36, Index=demand_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :  2297
        ('A', 'Aug') :  3371
        ('A', 'Dec') :  5183
        ('A', 'Feb') :  4878
        ('A', 'Jan') :  5240
        ('A', 'Jul') :  5334
        ('A', 'Jun') :  2275
        ('A', 'Mar') :  5942
        ('A', 'May') :  1992
        ('A', 'Nov') :  4284
        ('A', 'Oct') :  3529
        ('A', 'Sep') :  3759
        ('B', 'Apr') :  2338
        ('B', 'Aug') :  2620
        ('B', 'Dec') :  4227
        ('B', 'Feb') :  2628
        ('B', 'Jan') :  4927
        ('B', 'Jul') :  4271
        ('B', 'Jun') :  3147
        ('B', 'Mar') :  2974
        ('B', 'May') :  4020
        ('B', 'Nov') :  3137
        ('B', 'Oct') :  4155
        ('B', 'Sep') :  4517
        ('C', 'Apr') :  2261
        ('C', 'Aug') :  2496
        ('C', 'Dec') :  1998
        ('C', 'Feb') :  1967
        ('C', 'Jan') :  1162
        ('C', 'Jul') :  2489
        ('C', 'Jun') :  1642
        ('C', 'Mar') :  1898
        ('C', 'May') :  2030
        ('C', 'Nov') :   963
        ('C', 'Oct') :  2421
        ('C', 'Sep') :   922
    sa : StaffLowerBoundPercent
        Size=36, Index=sa_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :  0.75
        ('A', 'Aug') :  0.65
        ('A', 'Dec') :   0.6
        ('A', 'Feb') :  0.65
        ('A', 'Jan') :   0.7
        ('A', 'Jul') :   0.6
        ('A', 'Jun') :  0.65
        ('A', 'Mar') :   0.7
        ('A', 'May') :   0.7
        ('A', 'Nov') :   0.6
        ('A', 'Oct') :  0.65
        ('A', 'Sep') :   0.7
        ('B', 'Apr') :  0.75
        ('B', 'Aug') :  0.65
        ('B', 'Dec') :   0.6
        ('B', 'Feb') :  0.65
        ('B', 'Jan') :   0.7
        ('B', 'Jul') :   0.6
        ('B', 'Jun') :  0.65
        ('B', 'Mar') :   0.7
        ('B', 'May') :   0.7
        ('B', 'Nov') :   0.6
        ('B', 'Oct') :  0.65
        ('B', 'Sep') :   0.7
        ('C', 'Apr') :  0.75
        ('C', 'Aug') :  0.65
        ('C', 'Dec') :   0.6
        ('C', 'Feb') :  0.65
        ('C', 'Jan') :   0.7
        ('C', 'Jul') :   0.6
        ('C', 'Jun') :  0.65
        ('C', 'Mar') :   0.7
        ('C', 'May') :   0.7
        ('C', 'Nov') :   0.6
        ('C', 'Oct') :  0.65
        ('C', 'Sep') :   0.7

2 Var Declarations
    x : No of FTE
        Size=36, Index=x_index
        Key          : Lower : Value            : Upper : Fixed : Stale : Domain
        ('A', 'Apr') :     0 : 76.5666666666667 :  None : False : False : NonNegativeReals
        ('A', 'Aug') :     0 : 90.7692307692308 :  None : False : False : NonNegativeReals
        ('A', 'Dec') :     0 : 151.208333333333 :  None : False : False : NonNegativeReals
        ('A', 'Feb') :     0 : 131.346153846154 :  None : False : False : NonNegativeReals
        ('A', 'Jan') :     0 : 187.142857142857 :  None : False : False : NonNegativeReals
        ('A', 'Jul') :     0 : 155.583333333333 :  None : False : False : NonNegativeReals
        ('A', 'Jun') :     0 : 61.2692307692308 :  None : False : False : NonNegativeReals
        ('A', 'Mar') :     0 : 212.214285714286 :  None : False : False : NonNegativeReals
        ('A', 'May') :     0 : 71.1428571428571 :  None : False : False : NonNegativeReals
        ('A', 'Nov') :     0 : 124.958333333333 :  None : False : False : NonNegativeReals
        ('A', 'Oct') :     0 : 95.0384615384615 :  None : False : False : NonNegativeReals
        ('A', 'Sep') :     0 :           134.25 :  None : False : False : NonNegativeReals
        ('B', 'Apr') :     0 : 46.7666666666667 :  None : False : False : NonNegativeReals
        ('B', 'Aug') :     0 : 60.4615384615385 :  None : False : False : NonNegativeReals
        ('B', 'Dec') :     0 : 105.708333333333 :  None : False : False : NonNegativeReals
        ('B', 'Feb') :     0 : 60.6538461538462 :  None : False : False : NonNegativeReals
        ('B', 'Jan') :     0 : 105.607142857143 :  None : False : False : NonNegativeReals
        ('B', 'Jul') :     0 : 106.791666666667 :  None : False : False : NonNegativeReals
        ('B', 'Jun') :     0 : 72.6538461538462 :  None : False : False : NonNegativeReals
        ('B', 'Mar') :     0 :            63.75 :  None : False : False : NonNegativeReals
        ('B', 'May') :     0 : 86.1428571428571 :  None : False : False : NonNegativeReals
        ('B', 'Nov') :     0 : 78.4583333333333 :  None : False : False : NonNegativeReals
        ('B', 'Oct') :     0 : 95.8846153846154 :  None : False : False : NonNegativeReals
        ('B', 'Sep') :     0 : 96.8214285714286 :  None : False : False : NonNegativeReals
        ('C', 'Apr') :     0 : 75.3666666666667 :  None : False : False : NonNegativeReals
        ('C', 'Aug') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Dec') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Feb') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Jan') :     0 :             41.5 :  None : False : False : NonNegativeReals
        ('C', 'Jul') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Jun') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Mar') :     0 : 67.7857142857143 :  None : False : False : NonNegativeReals
        ('C', 'May') :     0 :             72.5 :  None : False : False : NonNegativeReals
        ('C', 'Nov') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Oct') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Sep') :     0 : 32.9285714285714 :  None : False : False : NonNegativeReals
    y : No of Outsource App
        Size=36, Index=y_index
        Key          : Lower : Value  : Upper : Fixed : Stale : Domain
        ('A', 'Apr') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Aug') :     0 : 1011.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Dec') :     0 : 1554.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Feb') :     0 : 1463.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Jan') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Jul') :     0 : 1600.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Jun') :     0 :  682.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Mar') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'May') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Nov') :     0 : 1285.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Oct') :     0 : 1058.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Sep') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Apr') :     0 :  935.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Aug') :     0 : 1048.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Dec') :     0 : 1690.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Feb') :     0 : 1051.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Jan') :     0 : 1970.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Jul') :     0 : 1708.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Jun') :     0 : 1258.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Mar') :     0 : 1189.0 :  None : False : False : NonNegativeIntegers
        ('B', 'May') :     0 : 1608.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Nov') :     0 : 1254.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Oct') :     0 : 1662.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Sep') :     0 : 1806.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Apr') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Aug') :     0 : 2496.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Dec') :     0 : 1998.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Feb') :     0 : 1967.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Jan') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Jul') :     0 : 2489.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Jun') :     0 : 1642.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Mar') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'May') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Nov') :     0 :  963.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Oct') :     0 : 2421.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Sep') :     0 :    0.0 :  None : False : False : NonNegativeIntegers

1 Objective Declarations
    value : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 5000.0*x[A,Jan] + 180*y[A,Jan] + 4583.333333333333*x[B,Jan] + 150*y[B,Jan] + 4416.666666666667*x[C,Jan] + 160*y[C,Jan] + 5000.0*x[A,Feb] + 180*y[A,Feb] + 4583.333333333333*x[B,Feb] + 150*y[B,Feb] + 4416.666666666667*x[C,Feb] + 160*y[C,Feb] + 5000.0*x[A,Mar] + 180*y[A,Mar] + 4583.333333333333*x[B,Mar] + 150*y[B,Mar] + 4416.666666666667*x[C,Mar] + 160*y[C,Mar] + 5000.0*x[A,Apr] + 180*y[A,Apr] + 4583.333333333333*x[B,Apr] + 150*y[B,Apr] + 4416.666666666667*x[C,Apr] + 160*y[C,Apr] + 5000.0*x[A,May] + 180*y[A,May] + 4583.333333333333*x[B,May] + 150*y[B,May] + 4416.666666666667*x[C,May] + 160*y[C,May] + 5000.0*x[A,Jun] + 180*y[A,Jun] + 4583.333333333333*x[B,Jun] + 150*y[B,Jun] + 4416.666666666667*x[C,Jun] + 160*y[C,Jun] + 5000.0*x[A,Jul] + 180*y[A,Jul] + 4583.333333333333*x[B,Jul] + 150*y[B,Jul] + 4416.666666666667*x[C,Jul] + 160*y[C,Jul] + 5000.0*x[A,Aug] + 180*y[A,Aug] + 4583.333333333333*x[B,Aug] + 150*y[B,Aug] + 4416.666666666667*x[C,Aug] + 160*y[C,Aug] + 5000.0*x[A,Sep] + 180*y[A,Sep] + 4583.333333333333*x[B,Sep] + 150*y[B,Sep] + 4416.666666666667*x[C,Sep] + 160*y[C,Sep] + 5000.0*x[A,Oct] + 180*y[A,Oct] + 4583.333333333333*x[B,Oct] + 150*y[B,Oct] + 4416.666666666667*x[C,Oct] + 160*y[C,Oct] + 5000.0*x[A,Nov] + 180*y[A,Nov] + 4583.333333333333*x[B,Nov] + 150*y[B,Nov] + 4416.666666666667*x[C,Nov] + 160*y[C,Nov] + 5000.0*x[A,Dec] + 180*y[A,Dec] + 4583.333333333333*x[B,Dec] + 150*y[B,Dec] + 4416.666666666667*x[C,Dec] + 160*y[C,Dec]

2 Constraint Declarations
    outsource_demand : Size=24, Index=outsource_demand_index, Active=True
        Key : Lower : Body     : Upper              : Active
          1 :  -Inf : y[A,Jan] :             1572.0 :   True
          2 :  -Inf : y[B,Jan] : 1970.8000000000002 :   True
          3 :  -Inf : y[A,Feb] : 1463.3999999999999 :   True
          4 :  -Inf : y[B,Feb] :             1051.2 :   True
          5 :  -Inf : y[A,Mar] :             1782.6 :   True
          6 :  -Inf : y[B,Mar] : 1189.6000000000001 :   True
          7 :  -Inf : y[A,Apr] :              689.1 :   True
          8 :  -Inf : y[B,Apr] :              935.2 :   True
          9 :  -Inf : y[A,May] :              597.6 :   True
         10 :  -Inf : y[B,May] :             1608.0 :   True
         11 :  -Inf : y[A,Jun] :              682.5 :   True
         12 :  -Inf : y[B,Jun] : 1258.8000000000002 :   True
         13 :  -Inf : y[A,Jul] :             1600.2 :   True
         14 :  -Inf : y[B,Jul] :             1708.4 :   True
         15 :  -Inf : y[A,Aug] :             1011.3 :   True
         16 :  -Inf : y[B,Aug] :             1048.0 :   True
         17 :  -Inf : y[A,Sep] :             1127.7 :   True
         18 :  -Inf : y[B,Sep] : 1806.8000000000002 :   True
         19 :  -Inf : y[A,Oct] :             1058.7 :   True
         20 :  -Inf : y[B,Oct] :             1662.0 :   True
         21 :  -Inf : y[A,Nov] :             1285.2 :   True
         22 :  -Inf : y[B,Nov] : 1254.8000000000002 :   True
         23 :  -Inf : y[A,Dec] : 1554.8999999999999 :   True
         24 :  -Inf : y[B,Dec] : 1690.8000000000002 :   True
    total_demand : Size=36, Index=total_demand_index, Active=True
        Key          : Lower  : Body                     : Upper  : Active
        ('A', 'Apr') : 2297.0 : 30.0*x[A,Apr] + y[A,Apr] : 2297.0 :   True
        ('A', 'Aug') : 3371.0 : 26.0*x[A,Aug] + y[A,Aug] : 3371.0 :   True
        ('A', 'Dec') : 5183.0 : 24.0*x[A,Dec] + y[A,Dec] : 5183.0 :   True
        ('A', 'Feb') : 4878.0 : 26.0*x[A,Feb] + y[A,Feb] : 4878.0 :   True
        ('A', 'Jan') : 5240.0 : 28.0*x[A,Jan] + y[A,Jan] : 5240.0 :   True
        ('A', 'Jul') : 5334.0 : 24.0*x[A,Jul] + y[A,Jul] : 5334.0 :   True
        ('A', 'Jun') : 2275.0 : 26.0*x[A,Jun] + y[A,Jun] : 2275.0 :   True
        ('A', 'Mar') : 5942.0 : 28.0*x[A,Mar] + y[A,Mar] : 5942.0 :   True
        ('A', 'May') : 1992.0 : 28.0*x[A,May] + y[A,May] : 1992.0 :   True
        ('A', 'Nov') : 4284.0 : 24.0*x[A,Nov] + y[A,Nov] : 4284.0 :   True
        ('A', 'Oct') : 3529.0 : 26.0*x[A,Oct] + y[A,Oct] : 3529.0 :   True
        ('A', 'Sep') : 3759.0 : 28.0*x[A,Sep] + y[A,Sep] : 3759.0 :   True
        ('B', 'Apr') : 2338.0 : 30.0*x[B,Apr] + y[B,Apr] : 2338.0 :   True
        ('B', 'Aug') : 2620.0 : 26.0*x[B,Aug] + y[B,Aug] : 2620.0 :   True
        ('B', 'Dec') : 4227.0 : 24.0*x[B,Dec] + y[B,Dec] : 4227.0 :   True
        ('B', 'Feb') : 2628.0 : 26.0*x[B,Feb] + y[B,Feb] : 2628.0 :   True
        ('B', 'Jan') : 4927.0 : 28.0*x[B,Jan] + y[B,Jan] : 4927.0 :   True
        ('B', 'Jul') : 4271.0 : 24.0*x[B,Jul] + y[B,Jul] : 4271.0 :   True
        ('B', 'Jun') : 3147.0 : 26.0*x[B,Jun] + y[B,Jun] : 3147.0 :   True
        ('B', 'Mar') : 2974.0 : 28.0*x[B,Mar] + y[B,Mar] : 2974.0 :   True
        ('B', 'May') : 4020.0 : 28.0*x[B,May] + y[B,May] : 4020.0 :   True
        ('B', 'Nov') : 3137.0 : 24.0*x[B,Nov] + y[B,Nov] : 3137.0 :   True
        ('B', 'Oct') : 4155.0 : 26.0*x[B,Oct] + y[B,Oct] : 4155.0 :   True
        ('B', 'Sep') : 4517.0 : 28.0*x[B,Sep] + y[B,Sep] : 4517.0 :   True
        ('C', 'Apr') : 2261.0 : 30.0*x[C,Apr] + y[C,Apr] : 2261.0 :   True
        ('C', 'Aug') : 2496.0 : 26.0*x[C,Aug] + y[C,Aug] : 2496.0 :   True
        ('C', 'Dec') : 1998.0 : 24.0*x[C,Dec] + y[C,Dec] : 1998.0 :   True
        ('C', 'Feb') : 1967.0 : 26.0*x[C,Feb] + y[C,Feb] : 1967.0 :   True
        ('C', 'Jan') : 1162.0 : 28.0*x[C,Jan] + y[C,Jan] : 1162.0 :   True
        ('C', 'Jul') : 2489.0 : 24.0*x[C,Jul] + y[C,Jul] : 2489.0 :   True
        ('C', 'Jun') : 1642.0 : 26.0*x[C,Jun] + y[C,Jun] : 1642.0 :   True
        ('C', 'Mar') : 1898.0 : 28.0*x[C,Mar] + y[C,Mar] : 1898.0 :   True
        ('C', 'May') : 2030.0 : 28.0*x[C,May] + y[C,May] : 2030.0 :   True
        ('C', 'Nov') :  963.0 : 24.0*x[C,Nov] + y[C,Nov] :  963.0 :   True
        ('C', 'Oct') : 2421.0 : 26.0*x[C,Oct] + y[C,Oct] : 2421.0 :   True
        ('C', 'Sep') :  922.0 : 28.0*x[C,Sep] + y[C,Sep] :  922.0 :   True

15 Declarations: i j demand_index demand sa_index sa x_index x y_index y total_demand_index total_demand outsource_demand_index outsource_demand value

In [46]:
# Creating dataframe for the results
Output_worst = []

for i in WC_model.i:
    for j in WC_model.j:
       
        no_of_fte = WC_model.x[i, j].value
        demand = WC_model.demand[i, j]
        no_of_outsource_app = WC_model.y[i, j].value
        no_of_FTE_processed_app = WC_model.x[i,j].value*40*WC_model.sa[i,j]
        cost = WC_model.x[i, j].value*FTE_Salary[i, j] + WC_model.y[i, j].value*UnitOutSourceCost[i, j]

        percent_outsourced_app = round((no_of_outsource_app/demand)*100,1)
        avg_cost_per_app = round(cost/demand,1)

        Output_worst.append([i, j, no_of_fte,demand, no_of_outsource_app,no_of_FTE_processed_app, cost, 
                             percent_outsourced_app,avg_cost_per_app])
print(Output_worst)

[['A', 'Jan', 187.142857142857, 5240, 0.0, 5239.999999999995, 935714.285714285, 0.0, 178.6], ['A', 'Feb', 131.346153846154, 4878, 1463.0, 3415.0000000000045, 920070.7692307701, 30.0, 188.6], ['A', 'Mar', 212.214285714286, 5942, 0.0, 5942.000000000008, 1061071.42857143, 0.0, 178.6], ['A', 'Apr', 76.5666666666667, 2297, 0.0, 2297.0000000000014, 382833.33333333355, 0.0, 166.7], ['A', 'May', 71.1428571428571, 1992, 0.0, 1991.9999999999986, 355714.2857142855, 0.0, 178.6], ['A', 'Jun', 61.2692307692308, 2275, 682.0, 1593.0000000000011, 429106.153846154, 30.0, 188.6], ['A', 'Jul', 155.583333333333, 5334, 1600.0, 3733.999999999992, 1065916.666666665, 30.0, 199.8], ['A', 'Aug', 90.7692307692308, 3371, 1011.0, 2360.000000000001, 635826.153846154, 30.0, 188.6], ['A', 'Sep', 134.25, 3759, 0.0, 3758.9999999999995, 671250.0, 0.0, 178.6], ['A', 'Oct', 95.0384615384615, 3529, 1058.0, 2470.999999999999, 665632.3076923075, 30.0, 188.6], ['A', 'Nov', 124.958333333333, 4284, 1285.0, 2998.9999999999923, 856091.666666665, 30.0, 199.8], ['A', 'Dec', 151.208333333333, 5183, 1554.0, 3628.9999999999923, 1035761.666666665, 30.0, 199.8], ['B', 'Jan', 105.607142857143, 4927, 1970.0, 2957.000000000004, 779532.7380952388, 40.0, 158.2], ['B', 'Feb', 60.6538461538462, 2628, 1051.0, 1577.0000000000014, 435646.7948717951, 40.0, 165.8], ['B', 'Mar', 63.75, 2974, 1189.0, 1785.0, 470537.5, 40.0, 158.2], ['B', 'Apr', 46.7666666666667, 2338, 935.0, 1403.0000000000011, 354597.22222222236, 40.0, 151.7], ['B', 'May', 86.1428571428571, 4020, 1608.0, 2411.9999999999986, 636021.4285714284, 40.0, 158.2], ['B', 'Jun', 72.6538461538462, 3147, 1258.0, 1889.0000000000014, 521696.79487179505, 40.0, 165.8], ['B', 'Jul', 106.791666666667, 4271, 1708.0, 2563.0000000000077, 745661.805555557, 40.0, 174.6], ['B', 'Aug', 60.4615384615385, 2620, 1048.0, 1572.000000000001, 434315.3846153848, 40.0, 165.8], ['B', 'Sep', 96.8214285714286, 4517, 1806.0, 2711.0000000000005, 714664.8809523811, 40.0, 158.2], ['B', 'Oct', 95.8846153846154, 4155, 1662.0, 2493.0000000000005, 688771.1538461539, 40.0, 165.8], ['B', 'Nov', 78.4583333333333, 3137, 1254.0, 1882.999999999999, 547700.6944444443, 40.0, 174.6], ['B', 'Dec', 105.708333333333, 4227, 1690.0, 2536.9999999999923, 737996.5277777762, 40.0, 174.6], ['C', 'Jan', 41.5, 1162, 0.0, 1162.0, 183291.6666666667, 0.0, 157.7], ['C', 'Feb', 0.0, 1967, 1967.0, 0.0, 314720.0, 100.0, 160.0], ['C', 'Mar', 67.7857142857143, 1898, 0.0, 1898.0000000000007, 299386.90476190485, 0.0, 157.7], ['C', 'Apr', 75.3666666666667, 2261, 0.0, 2261.000000000001, 332869.4444444446, 0.0, 147.2], ['C', 'May', 72.5, 2030, 0.0, 2029.9999999999998, 320208.3333333334, 0.0, 157.7], ['C', 'Jun', 0.0, 1642, 1642.0, 0.0, 262720.0, 100.0, 160.0], ['C', 'Jul', 0.0, 2489, 2489.0, 0.0, 398240.0, 100.0, 160.0], ['C', 'Aug', 0.0, 2496, 2496.0, 0.0, 399360.0, 100.0, 160.0], ['C', 'Sep', 32.9285714285714, 922, 0.0, 921.9999999999991, 145434.5238095237, 0.0, 157.7], ['C', 'Oct', 0.0, 2421, 2421.0, 0.0, 387360.0, 100.0, 160.0], ['C', 'Nov', 0.0, 963, 963.0, 0.0, 154080.0, 100.0, 160.0], ['C', 'Dec', 0.0, 1998, 1998.0, 0.0, 319680.0, 100.0, 160.0]]

In [47]:
Output_worst = pd.DataFrame(Output_worst, columns = ['State', 'Month', 'No of FTE worst',"Demand",
                                                     'No of outsource app worst',"No of FTE processed App worst" ,
                                                     'Estimated Cost worst', 'percent outsourced app worst', 
                                                     'average cost per application worst'])

Output_worst['Estimated Cost in mn $ worst'] = Output_worst[['Estimated Cost worst']]/1000000
Output_worst['Demand'] = Output_worst['Demand'].astype(int)
Output_worst['No of outsource app worst'] = Output_worst['No of outsource app worst'].astype(int)
Output_worst['No of FTE processed App worst'] = Output_worst['No of FTE processed App worst'].astype(int)
Output_worst = Output_worst.round({"No of FTE worst":1, "No of outsource app worst":0, "Estimated Cost in mn $ worst":1})

print("\n\n" ,Output_worst)

    State Month  No of FTE worst  Demand  No of outsource app worst  \
0      A   Jan            187.1    5240                          0
1      A   Feb            131.3    4878                       1463
2      A   Mar            212.2    5942                          0
3      A   Apr             76.6    2297                          0
4      A   May             71.1    1992                          0
5      A   Jun             61.3    2275                        682
6      A   Jul            155.6    5334                       1600
7      A   Aug             90.8    3371                       1011
8      A   Sep            134.2    3759                          0
9      A   Oct             95.0    3529                       1058
10     A   Nov            125.0    4284                       1285
11     A   Dec            151.2    5183                       1554
12     B   Jan            105.6    4927                       1970
13     B   Feb             60.7    2628                       1051
14     B   Mar             63.8    2974                       1189
15     B   Apr             46.8    2338                        935
16     B   May             86.1    4020                       1608
17     B   Jun             72.7    3147                       1258
18     B   Jul            106.8    4271                       1708
19     B   Aug             60.5    2620                       1048
20     B   Sep             96.8    4517                       1806
21     B   Oct             95.9    4155                       1662
22     B   Nov             78.5    3137                       1254
23     B   Dec            105.7    4227                       1690
24     C   Jan             41.5    1162                          0
25     C   Feb              0.0    1967                       1967
26     C   Mar             67.8    1898                          0
27     C   Apr             75.4    2261                          0
28     C   May             72.5    2030                          0
29     C   Jun              0.0    1642                       1642
30     C   Jul              0.0    2489                       2489
31     C   Aug              0.0    2496                       2496
32     C   Sep             32.9     922                          0
33     C   Oct              0.0    2421                       2421
34     C   Nov              0.0     963                        963
35     C   Dec              0.0    1998                       1998

    No of FTE processed App worst  Estimated Cost worst  \
0                            5239          9.357143e+05
1                            3415          9.200708e+05
2                            5942          1.061071e+06
3                            2297          3.828333e+05
4                            1991          3.557143e+05
5                            1593          4.291062e+05
6                            3733          1.065917e+06
7                            2360          6.358262e+05
8                            3758          6.712500e+05
9                            2470          6.656323e+05
10                           2998          8.560917e+05
11                           3628          1.035762e+06
12                           2957          7.795327e+05
13                           1577          4.356468e+05
14                           1785          4.705375e+05
15                           1403          3.545972e+05
16                           2411          6.360214e+05
17                           1889          5.216968e+05
18                           2563          7.456618e+05
19                           1572          4.343154e+05
20                           2711          7.146649e+05
21                           2493          6.887712e+05
22                           1882          5.477007e+05
23                           2536          7.379965e+05
24                           1162          1.832917e+05
25                              0          3.147200e+05
26                           1898          2.993869e+05
27                           2261          3.328694e+05
28                           2029          3.202083e+05
29                              0          2.627200e+05
30                              0          3.982400e+05
31                              0          3.993600e+05
32                            921          1.454345e+05
33                              0          3.873600e+05
34                              0          1.540800e+05
35                              0          3.196800e+05

    percent outsourced app worst  average cost per application worst  \
0                            0.0                               178.6
1                           30.0                               188.6
2                            0.0                               178.6
3                            0.0                               166.7
4                            0.0                               178.6
5                           30.0                               188.6
6                           30.0                               199.8
7                           30.0                               188.6
8                            0.0                               178.6
9                           30.0                               188.6
10                          30.0                               199.8
11                          30.0                               199.8
12                          40.0                               158.2
13                          40.0                               165.8
14                          40.0                               158.2
15                          40.0                               151.7
16                          40.0                               158.2
17                          40.0                               165.8
18                          40.0                               174.6
19                          40.0                               165.8
20                          40.0                               158.2
21                          40.0                               165.8
22                          40.0                               174.6
23                          40.0                               174.6
24                           0.0                               157.7
25                         100.0                               160.0
26                           0.0                               157.7
27                           0.0                               147.2
28                           0.0                               157.7
29                         100.0                               160.0
30                         100.0                               160.0
31                         100.0                               160.0
32                           0.0                               157.7
33                         100.0                               160.0
34                         100.0                               160.0
35                         100.0                               160.0

    Estimated Cost in mn $ worst
0                            0.9
1                            0.9
2                            1.1
3                            0.4
4                            0.4
5                            0.4
6                            1.1
7                            0.6
8                            0.7
9                            0.7
10                           0.9
11                           1.0
12                           0.8
13                           0.4
14                           0.5
15                           0.4
16                           0.6
17                           0.5
18                           0.7
19                           0.4
20                           0.7
21                           0.7
22                           0.5
23                           0.7
24                           0.2
25                           0.3
26                           0.3
27                           0.3
28                           0.3
29                           0.3
30                           0.4
31                           0.4
32                           0.1
33                           0.4
34                           0.2
35                           0.3

In [48]:
total_outsourcing =  sum(Output_worst['No of outsource app worst'])
total_cost = sum(Output_worst['Estimated Cost worst'])
optimal_staff_members = round(Output_worst['No of FTE worst'].mean(),1)

total_demand =  sum(Output_worst['Demand'])
average_cost_per_appln = round(total_cost/total_demand,2)
percent_outsourced_app_total = round((total_outsourcing/total_demand)*100,1)

print("Total Outsourced Application: ", total_outsourcing)
print("Total Demand Application: ", total_demand)
print("Optimal Staff Members : ", optimal_staff_members)

Total Outsourced Application:  39808
Total Demand Application:  113294
Optimal Staff Members :  76.7

### 3.1.2 Percentage of outsourced applications

In [49]:
# write your code here
print("Total Outsourced Application % is : ", percent_outsourced_app_total)

Total Outsourced Application % is :  35.1

### 3.1.3 Average cost per application

In [50]:

print("Average Cost per Application: ", average_cost_per_appln)

Average Cost per Application:  173.0

In [51]:
# Writing the results in to an Excel sheet
from openpyxl import load_workbook
book = load_workbook("Staffing+Data.xlsx")

# create excel writer object
writer = pd.ExcelWriter("Staffing+Data.xlsx", engine = 'openpyxl')


#Assigning the workbook to the writer object
writer.book = book


# write dataframe to excel sheet named 'output_worst'
Output_worst.to_excel(writer, sheet_name='Output_worst')


# save the excel file
writer.save()
print('DataFrame is written successfully to Excel Sheet.')

DataFrame is written successfully to Excel Sheet.

### 3.2  Best Case Analysis

In [52]:
# Creating a model instance
BC_model = ConcreteModel()

In [53]:
# Define Pyomo sets and Parameters
BC_model.i = Set(initialize=BankLoc.tolist(),doc='States')
BC_model.j = Set(initialize=Month.tolist(),doc='Months')


BC_model.demand = Param(BC_model.i,BC_model.j,initialize = Demand,doc='Demand')
BC_model.sa = Param(BC_model.i,BC_model.j,initialize = StaffAv_UB,doc = 'StaffUpperBoundPercent')

In [54]:
# Decision variables
BC_model.x = Var(BC_model.i,BC_model.j,doc='No of FTE',domain = NonNegativeReals)
BC_model.y = Var(BC_model.i,BC_model.j,doc='No of Outsource App',domain = NonNegativeIntegers)

In [55]:
# Demand Constraint

def total_demand(m, i, j):
    return (m.x[i, j] * 40 * m.sa[i, j] + m.y[i, j] == m.demand[i, j])


BC_model.total_demand = Constraint(BC_model.i, BC_model.j, rule=total_demand)

# Outsource Demand Constraints
BC_model.outsource_demand = ConstraintList()
for j in BC_model.j:
    for i in BC_model.i:
        if i == 'A':
            BC_model.outsource_demand.add(expr = BC_model.y[i,j] <= 0.3*BC_model.demand[i,j])
        elif i == 'B':
            BC_model.outsource_demand.add(expr = BC_model.y[i,j] <= 0.4*BC_model.demand[i,j])

In [56]:
# Objective function
BC_model.value = Objective(expr = sum(sum(BC_model.x[i,j]*FTE_Salary[i,j]+
                                        BC_model.y[i,j]*UnitOutSourceCost[i,j] 
                                        for i in BC_model.i) for j in BC_model.j),
                         sense= minimize)

In [57]:
# Invoking the solver
result = SolverFactory('glpk').solve(BC_model)
result.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 16527535.6379357
  Upper bound: 16527535.6379357
  Number of objectives: 1
  Number of constraints: 61
  Number of variables: 73
  Number of nonzeros: 97
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.08794927597045898
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [58]:
# Print the value of the objective function
optimized_cost_best = round(BC_model.value()/1000000,2)

### **`Checkpoint 3:`** The company has to spend around 16.5 m$ in total for the application approval process if the staffs are working with the maximum availability.

In [59]:
BC_model.pprint

In [60]:
# Creating dataframe for the results
Output_best = []

for i in BC_model.i:
    for j in BC_model.j:
        # cost for the application approval process
        no_of_fte = BC_model.x[i, j].value
        demand = BC_model.demand[i, j]
        no_of_outsource_app = BC_model.y[i, j].value
        no_of_FTE_processed_app = BC_model.x[i,j].value*40*BC_model.sa[i,j]
        cost = BC_model.x[i, j].value*FTE_Salary[i, j] + BC_model.y[i, j].value*UnitOutSourceCost[i, j]

        percent_outsourced_app = round((no_of_outsource_app/demand)*100,1)
        cost_per_app = round(cost/demand,1)

        Output_best.append([i, j, no_of_fte,demand, 
                            no_of_outsource_app,no_of_FTE_processed_app, 
                            cost, percent_outsourced_app,cost_per_app])
print(Output_best)

[['A', 'Jan', 145.555555555556, 5240, 0.0, 5240.000000000016, 727777.77777778, 0.0, 138.9], ['A', 'Feb', 143.470588235294, 4878, 0.0, 4877.999999999996, 717352.94117647, 0.0, 147.1], ['A', 'Mar', 185.6875, 5942, 0.0, 5942.0, 928437.5, 0.0, 156.2], ['A', 'Apr', 67.5588235294118, 2297, 0.0, 2297.0000000000014, 337794.11764705897, 0.0, 147.1], ['A', 'May', 58.5882352941176, 1992, 0.0, 1991.9999999999984, 292941.176470588, 0.0, 147.1], ['A', 'Jun', 71.09375, 2275, 0.0, 2275.0, 355468.75, 0.0, 156.2], ['A', 'Jul', 177.8, 5334, 0.0, 5334.0, 889000.0, 0.0, 166.7], ['A', 'Aug', 99.1470588235294, 3371, 0.0, 3370.9999999999995, 495735.29411764705, 0.0, 147.1], ['A', 'Sep', 104.416666666667, 3759, 0.0, 3759.000000000012, 522083.333333335, 0.0, 138.9], ['A', 'Oct', 110.28125, 3529, 0.0, 3529.0, 551406.25, 0.0, 156.2], ['A', 'Nov', 142.8, 4284, 0.0, 4284.0, 714000.0, 0.0, 166.7], ['A', 'Dec', 185.107142857143, 5183, 0.0, 5183.000000000004, 925535.714285715, 0.0, 178.6], ['B', 'Jan', 136.861111111111, 4927, 0.0, 4926.999999999996, 627280.092592592, 0.0, 127.3], ['B', 'Feb', 77.2941176470588, 2628, 0.0, 2627.999999999999, 354264.7058823528, 0.0, 134.8], ['B', 'Mar', 92.9375, 2974, 0.0, 2974.0, 425963.5416666666, 0.0, 143.2], ['B', 'Apr', 68.7647058823529, 2338, 0.0, 2337.9999999999986, 315171.5686274508, 0.0, 134.8], ['B', 'May', 118.235294117647, 4020, 0.0, 4019.999999999998, 541911.7647058821, 0.0, 134.8], ['B', 'Jun', 98.34375, 3147, 0.0, 3147.0, 450742.18749999994, 0.0, 143.2], ['B', 'Jul', 85.4333333333333, 4271, 1708.0, 2562.9999999999986, 647769.4444444443, 40.0, 151.7], ['B', 'Aug', 77.0588235294118, 2620, 0.0, 2620.0000000000014, 353186.27450980403, 0.0, 134.8], ['B', 'Sep', 125.472222222222, 4517, 0.0, 4516.999999999992, 575081.0185185175, 0.0, 127.3], ['B', 'Oct', 129.84375, 4155, 0.0, 4155.0, 595117.1875, 0.0, 143.2], ['B', 'Nov', 62.7666666666667, 3137, 1254.0, 1883.000000000001, 475780.5555555557, 40.0, 151.7], ['B', 'Dec', 90.6071428571429, 4227, 1690.0, 2537.000000000001, 668782.7380952383, 40.0, 158.2], ['C', 'Jan', 32.2777777777778, 1162, 0.0, 1162.000000000001, 142560.18518518528, 0.0, 122.7], ['C', 'Feb', 57.8529411764706, 1967, 0.0, 1967.0000000000002, 255517.15686274518, 0.0, 129.9], ['C', 'Mar', 59.3125, 1898, 0.0, 1898.0, 261963.5416666667, 0.0, 138.0], ['C', 'Apr', 66.5, 2261, 0.0, 2261.0, 293708.3333333334, 0.0, 129.9], ['C', 'May', 59.7058823529412, 2030, 0.0, 2030.000000000001, 263700.980392157, 0.0, 129.9], ['C', 'Jun', 51.3125, 1642, 0.0, 1642.0, 226630.20833333334, 0.0, 138.0], ['C', 'Jul', 82.9666666666667, 2489, 0.0, 2489.000000000001, 366436.1111111113, 0.0, 147.2], ['C', 'Aug', 73.4117647058823, 2496, 0.0, 2495.9999999999986, 324235.2941176469, 0.0, 129.9], ['C', 'Sep', 25.6111111111111, 922, 0.0, 921.9999999999995, 113115.7407407407, 0.0, 122.7], ['C', 'Oct', 75.65625, 2421, 0.0, 2421.0, 334148.4375, 0.0, 138.0], ['C', 'Nov', 32.1, 963, 0.0, 963.0, 141775.00000000003, 0.0, 147.2], ['C', 'Dec', 71.3571428571429, 1998, 0.0, 1998.0000000000011, 315160.7142857145, 0.0, 157.7]]

In [61]:
Output_best = pd.DataFrame(Output_best, columns = ['State', 'Month', 'No of FTE best',
                                                   "Demand",'No of outsource app best',
                                                   "No of FTE processed App best" , 
                                                   'Estimated Cost best', 'percent outsourced app best', 
                                                   'cost per application best'])

Output_best[['Estimated Cost in mn $ best']] = Output_best[['Estimated Cost best']]/1000000
Output_best['Demand'] = Output_best['Demand'].astype(int)
Output_best['No of outsource app best'] = Output_best['No of outsource app best'].astype(int)
Output_best['No of FTE processed App best'] = Output_best['No of FTE processed App best'].astype(int)
Output_best = Output_best.round({"No of FTE best":1, "No of outsource app best":0, "Estimated Cost in mn $ best":1})

In [62]:
print("\n\n" ,Output_best)

    State Month  No of FTE best  Demand  No of outsource app best  \
0      A   Jan           145.6    5240                         0
1      A   Feb           143.5    4878                         0
2      A   Mar           185.7    5942                         0
3      A   Apr            67.6    2297                         0
4      A   May            58.6    1992                         0
5      A   Jun            71.1    2275                         0
6      A   Jul           177.8    5334                         0
7      A   Aug            99.1    3371                         0
8      A   Sep           104.4    3759                         0
9      A   Oct           110.3    3529                         0
10     A   Nov           142.8    4284                         0
11     A   Dec           185.1    5183                         0
12     B   Jan           136.9    4927                         0
13     B   Feb            77.3    2628                         0
14     B   Mar            92.9    2974                         0
15     B   Apr            68.8    2338                         0
16     B   May           118.2    4020                         0
17     B   Jun            98.3    3147                         0
18     B   Jul            85.4    4271                      1708
19     B   Aug            77.1    2620                         0
20     B   Sep           125.5    4517                         0
21     B   Oct           129.8    4155                         0
22     B   Nov            62.8    3137                      1254
23     B   Dec            90.6    4227                      1690
24     C   Jan            32.3    1162                         0
25     C   Feb            57.9    1967                         0
26     C   Mar            59.3    1898                         0
27     C   Apr            66.5    2261                         0
28     C   May            59.7    2030                         0
29     C   Jun            51.3    1642                         0
30     C   Jul            83.0    2489                         0
31     C   Aug            73.4    2496                         0
32     C   Sep            25.6     922                         0
33     C   Oct            75.7    2421                         0
34     C   Nov            32.1     963                         0
35     C   Dec            71.4    1998                         0

    No of FTE processed App best  Estimated Cost best  \
0                           5240        727777.777778
1                           4877        717352.941176
2                           5942        928437.500000
3                           2297        337794.117647
4                           1991        292941.176471
5                           2275        355468.750000
6                           5334        889000.000000
7                           3370        495735.294118
8                           3759        522083.333333
9                           3529        551406.250000
10                          4284        714000.000000
11                          5183        925535.714286
12                          4926        627280.092593
13                          2627        354264.705882
14                          2974        425963.541667
15                          2337        315171.568627
16                          4019        541911.764706
17                          3147        450742.187500
18                          2562        647769.444444
19                          2620        353186.274510
20                          4516        575081.018519
21                          4155        595117.187500
22                          1883        475780.555556
23                          2537        668782.738095
24                          1162        142560.185185
25                          1967        255517.156863
26                          1898        261963.541667
27                          2261        293708.333333
28                          2030        263700.980392
29                          1642        226630.208333
30                          2489        366436.111111
31                          2495        324235.294118
32                           921        113115.740741
33                          2421        334148.437500
34                           963        141775.000000
35                          1998        315160.714286

    percent outsourced app best  cost per application best  \
0                           0.0                      138.9
1                           0.0                      147.1
2                           0.0                      156.2
3                           0.0                      147.1
4                           0.0                      147.1
5                           0.0                      156.2
6                           0.0                      166.7
7                           0.0                      147.1
8                           0.0                      138.9
9                           0.0                      156.2
10                          0.0                      166.7
11                          0.0                      178.6
12                          0.0                      127.3
13                          0.0                      134.8
14                          0.0                      143.2
15                          0.0                      134.8
16                          0.0                      134.8
17                          0.0                      143.2
18                         40.0                      151.7
19                          0.0                      134.8
20                          0.0                      127.3
21                          0.0                      143.2
22                         40.0                      151.7
23                         40.0                      158.2
24                          0.0                      122.7
25                          0.0                      129.9
26                          0.0                      138.0
27                          0.0                      129.9
28                          0.0                      129.9
29                          0.0                      138.0
30                          0.0                      147.2
31                          0.0                      129.9
32                          0.0                      122.7
33                          0.0                      138.0
34                          0.0                      147.2
35                          0.0                      157.7

    Estimated Cost in mn $ best
0                           0.7
1                           0.7
2                           0.9
3                           0.3
4                           0.3
5                           0.4
6                           0.9
7                           0.5
8                           0.5
9                           0.6
10                          0.7
11                          0.9
12                          0.6
13                          0.4
14                          0.4
15                          0.3
16                          0.5
17                          0.5
18                          0.6
19                          0.4
20                          0.6
21                          0.6
22                          0.5
23                          0.7
24                          0.1
25                          0.3
26                          0.3
27                          0.3
28                          0.3
29                          0.2
30                          0.4
31                          0.3
32                          0.1
33                          0.3
34                          0.1
35                          0.3

In [63]:
total_outsourcing =  sum(Output_best['No of outsource app best'])
total_cost = sum(Output_best['Estimated Cost best'])
optimal_staff_members = round(Output_best['No of FTE best'].mean(),2)

total_demand =  sum(Output_best['Demand'])
average_cost_per_appln = round(total_cost/total_demand,2)
percent_outsourced_app_total = round((total_outsourcing/total_demand)*100,1)

### 3.2.2 Percentage of outsourced applications
`

In [64]:
print(percent_outsourced_app_total)

4.1

In [65]:
#### 3.2.3 Average cost per application
# write your code here
print("Average Cost per Application: ", average_cost_per_appln)

Average Cost per Application:  145.88

In [66]:
# Writing the results in to an Excel sheet
from openpyxl import load_workbook
book = load_workbook("Staffing+Data.xlsx")

# create excel writer object
writer = pd.ExcelWriter("Staffing+Data.xlsx", engine = 'openpyxl')


#Assigning the workbook to the writer object
writer.book = book


# write dataframe to excel sheet named 'output_best'
Output_best.to_excel(writer, sheet_name='Output_best')


# save the excel file
writer.save()
print('DataFrame is written successfully to Excel Sheet.')

DataFrame is written successfully to Excel Sheet.

### Question 4

#### Creating Visualisations

Create the following visualisations using your preferred method (i.e. Python, PowerPoint, Power BI, etc.) and add it to your report. 

Use the solution of Q2 to create a stacked column chart that shows the percentage of applications processed by the staff and by the vendor for each month (%staff processed applications+ %vendor processed applications should add up to 100%). 
Create a graph to show how the cost per application increases with respect to any change in the parameters in your analysis.
Hint: Use the cost per application that you calculate in Questions 2 and 3 (i.e., the best case, and the worst case).

### **Note:** You can create the charts in Python or some other visualisation tools and make it a part of your final report directly.